.body {
    display: flex;
}
.body_green-theme {
    background-color: green;
}
.body__welcome {
    width: 70%;
    justify-content: flex-start;
}
.body_margin-m {
    margin-bottom: 10px;
    margin-top: 10px;
}
.body__photos {
    width: 30%;
    justify-content: flex-end;
}
.body__welcome_margin-m {
    margin: 10px 5px 10px 10px;
}
.body__photos_margin-m {
    margin: 10px 10px 10px 5px;
}
