.box {
    max-width: 300px;
    display: flex;
    align-self: center;
    flex-flow: wrap;
}
.box__photo {
    border: 1px solid white;
    max-width: 148px;
    max-height: 148px;
}
.box__photo_margin-top-sm {
    margin-top: 5px;
}
